/* ==========================================================================
   index.html styles
   ========================================================================== */

.header {
  color: powderblue;
  text-align: center;
}

.header:hover {
  color: #f1f1f1;
  font-weight: bolder;
}

.sub-header {
  text-align: center;
  font: menu;
}

.or {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.main_image_container {
  position: relative;
  text-align: center;
  color: white;
}
/* Top left text */
.highlands {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.highlands:hover {
  text-decoration: underline;
  font-weight: bold
}

/* Bottom left text */
.subtropical {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 41%;
  transform: translate(-50%, -50%);
}

.subtropical:hover {
  text-decoration: underline;
  font-weight: bold
}

/* Top right text */
.polar {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.polar:hover {
  text-decoration: underline;
  font-weight: bold
}

/* Bottom right text */
.continental {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
}

.continental:hover {
  text-decoration: underline;
  font-weight: bold;
}